################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo_w03_Tue
/Demo_w03_Tue/.vs
/Demo_w03_Tue - Copy/.vs
/ICE_1/.vs
/Week_2_Thu/.vs/Week_2_Thu
/Assignment_3/.vs
